.attribution { 
    font-family: Lexend Deca;
    font-size: 11px; text-align: center;
    bottom: 0;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 8px;
    width: 12rem;
    margin-inline: auto;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}